<policy selector='domain[policies/guest/@os="rhel-8"]'>
<domain>
  <!-- domain ? -->
  <memory unit='KiB'>2097152</memory>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
</domain>
</policy>
